<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>RCB fans | Newsletter</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100;400;900&family=Permanent+Marker&family=Sacramento&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="/">
      <img src="/images/rcb-logo.png" alt="" />
      <h1 class="h3 mb-3 font-weight-normal">Signup to Official Newsletter</h1>
      <input
        type="text"
        class="form-control top"
        placeholder="First Name"
        name="first"
        required
        autofocus
      />
      <input
        type="text"
        class="form-control middle"
        placeholder="Last Name"
        name="last"
      />
      <input
        type="email"
        class="form-control bottom"
        placeholder="Email"
        name="emailId"
        required
      />
      <button class="btn btn-lg btn-warning btn-block" type="submit">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; RCBIANS Official</p>
    </form>
  </body>
</html>
